body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2642px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:922px;
  width:100px;
  height:60px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1427px;
  width:100px;
  height:60px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u62_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:564px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u64_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:547px;
  width:18px;
  height:19px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:272px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:982px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:449px;
}
#u65_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u65_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:432px;
  width:18px;
  height:19px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:214px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:384px;
  width:100px;
  height:60px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:1314px;
  width:100px;
  height:60px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:600px;
  width:100px;
  height:60px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:817px;
  width:100px;
  height:60px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:492px;
  width:100px;
  height:60px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:1018px;
  width:100px;
  height:60px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:1117px;
  width:100px;
  height:60px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:1215px;
  width:100px;
  height:60px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:709px;
  width:100px;
  height:60px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:532px;
  width:100px;
  height:29px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:810px;
  width:100px;
  height:29px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:592px;
  width:100px;
  height:29px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:702px;
  width:100px;
  height:29px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:484px;
  width:100px;
  height:29px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:858px;
  width:100px;
  height:29px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:644px;
  width:100px;
  height:29px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:743px;
  width:100px;
  height:29px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:38px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:1931px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:1931px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:1737px;
  width:100px;
  height:60px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:1540px;
  width:100px;
  height:60px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:1638px;
  width:100px;
  height:60px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1487px;
  width:0px;
  height:0px;
}
#u89_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u89_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:79px;
  width:81px;
  height:8px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1487px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:185px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:177px;
  width:81px;
  height:8px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:121px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1487px;
  width:0px;
  height:0px;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:284px;
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:276px;
  width:81px;
  height:8px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:170px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:522px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-27px;
  width:8px;
  height:31px;
}
#u92_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-27px;
  width:15px;
  height:8px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:522px;
  width:0px;
  height:0px;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-4px;
  width:8px;
  height:33px;
}
#u93_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:21px;
  width:15px;
  height:8px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:630px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-27px;
  width:8px;
  height:31px;
}
#u94_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-27px;
  width:15px;
  height:8px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:630px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-4px;
  width:8px;
  height:37px;
}
#u95_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:25px;
  width:15px;
  height:8px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:739px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u96_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-26px;
  width:8px;
  height:30px;
}
#u96_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-26px;
  width:15px;
  height:8px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:739px;
  width:0px;
  height:0px;
}
#u97_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u97_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-4px;
  width:8px;
  height:27px;
}
#u97_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:15px;
  width:15px;
  height:8px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:847px;
  width:0px;
  height:0px;
}
#u98_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u98_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-26px;
  width:8px;
  height:30px;
}
#u98_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-26px;
  width:15px;
  height:8px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:847px;
  width:0px;
  height:0px;
}
#u99_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u99_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-4px;
  width:8px;
  height:34px;
}
#u99_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:22px;
  width:15px;
  height:8px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:2039px;
  width:110px;
  height:70px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:2044px;
  width:100px;
  height:60px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:38px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:2224px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:2335px;
  width:110px;
  height:70px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:2340px;
  width:100px;
  height:60px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:2544px;
  width:100px;
  height:60px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:2760px;
  width:100px;
  height:60px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:2891px;
  width:100px;
  height:60px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:2652px;
  width:100px;
  height:60px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:2692px;
  width:100px;
  height:29px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:2884px;
  width:100px;
  height:29px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:2752px;
  width:100px;
  height:29px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:2644px;
  width:100px;
  height:29px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:2932px;
  width:100px;
  height:29px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:2804px;
  width:100px;
  height:29px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:2682px;
  width:0px;
  height:0px;
}
#u115_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u115_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-27px;
  width:8px;
  height:31px;
}
#u115_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-27px;
  width:19px;
  height:8px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:2682px;
  width:0px;
  height:0px;
}
#u116_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u116_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:33px;
}
#u116_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:21px;
  width:19px;
  height:8px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:2790px;
  width:0px;
  height:0px;
}
#u117_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u117_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-27px;
  width:8px;
  height:31px;
}
#u117_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-27px;
  width:19px;
  height:8px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:2790px;
  width:0px;
  height:0px;
}
#u118_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u118_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:37px;
}
#u118_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:19px;
  height:8px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:2921px;
  width:0px;
  height:0px;
}
#u119_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u119_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-26px;
  width:8px;
  height:30px;
}
#u119_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-26px;
  width:19px;
  height:8px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:2921px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u120_seg1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-4px;
  width:8px;
  height:34px;
}
#u120_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:22px;
  width:19px;
  height:8px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:2455px;
  width:100px;
  height:60px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:2340px;
  width:110px;
  height:70px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:2345px;
  width:100px;
  height:60px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:2549px;
  width:100px;
  height:60px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:2765px;
  width:100px;
  height:60px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:2982px;
  width:100px;
  height:60px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:2657px;
  width:100px;
  height:60px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:2874px;
  width:100px;
  height:60px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:2697px;
  width:100px;
  height:29px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:2975px;
  width:100px;
  height:29px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:2757px;
  width:100px;
  height:29px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:2867px;
  width:100px;
  height:29px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:2649px;
  width:100px;
  height:29px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:3023px;
  width:100px;
  height:29px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:2809px;
  width:100px;
  height:29px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:2908px;
  width:100px;
  height:29px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:2687px;
  width:0px;
  height:0px;
}
#u137_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u137_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-27px;
  width:8px;
  height:31px;
}
#u137_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-27px;
  width:21px;
  height:8px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:2687px;
  width:0px;
  height:0px;
}
#u138_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u138_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:33px;
}
#u138_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:21px;
  width:21px;
  height:8px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:2795px;
  width:0px;
  height:0px;
}
#u139_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u139_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-27px;
  width:8px;
  height:31px;
}
#u139_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-27px;
  width:21px;
  height:8px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:2795px;
  width:0px;
  height:0px;
}
#u140_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u140_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:37px;
}
#u140_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:25px;
  width:21px;
  height:8px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:2904px;
  width:0px;
  height:0px;
}
#u141_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u141_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-26px;
  width:8px;
  height:30px;
}
#u141_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-26px;
  width:21px;
  height:8px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:2904px;
  width:0px;
  height:0px;
}
#u142_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u142_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:27px;
}
#u142_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:15px;
  width:21px;
  height:8px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:3012px;
  width:0px;
  height:0px;
}
#u143_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u143_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-26px;
  width:8px;
  height:30px;
}
#u143_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-26px;
  width:21px;
  height:8px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:3012px;
  width:0px;
  height:0px;
}
#u144_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u144_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:34px;
}
#u144_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:22px;
  width:21px;
  height:8px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:2460px;
  width:100px;
  height:60px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:2400px;
  width:0px;
  height:0px;
}
#u146_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u146_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:2515px;
  width:0px;
  height:0px;
}
#u147_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u147_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:55px;
  width:73px;
  height:8px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:2515px;
  width:0px;
  height:0px;
}
#u148_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:171px;
}
#u148_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:163px;
  width:73px;
  height:8px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:2515px;
  width:0px;
  height:0px;
}
#u149_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:279px;
}
#u149_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:271px;
  width:73px;
  height:8px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:164px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:2515px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:410px;
}
#u150_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:402px;
  width:73px;
  height:8px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:230px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:2520px;
  width:0px;
  height:0px;
}
#u151_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u151_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:55px;
  width:73px;
  height:8px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:2520px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:171px;
}
#u152_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:163px;
  width:73px;
  height:8px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:2520px;
  width:0px;
  height:0px;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:279px;
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:271px;
  width:73px;
  height:8px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:164px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:2520px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:388px;
}
#u154_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:380px;
  width:73px;
  height:8px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:218px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:2520px;
  width:0px;
  height:0px;
}
#u155_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:496px;
}
#u155_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:488px;
  width:73px;
  height:8px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:272px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:2046px;
  top:2343px;
  width:110px;
  height:70px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:2289px;
  top:2348px;
  width:100px;
  height:60px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:2408px;
  top:2552px;
  width:100px;
  height:60px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:2408px;
  top:2768px;
  width:100px;
  height:60px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:2408px;
  top:2985px;
  width:100px;
  height:60px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:2408px;
  top:2660px;
  width:100px;
  height:60px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:2408px;
  top:2877px;
  width:100px;
  height:60px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:2542px;
  top:2700px;
  width:100px;
  height:29px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:2542px;
  top:2978px;
  width:100px;
  height:29px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:2542px;
  top:2760px;
  width:100px;
  height:29px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:2542px;
  top:2870px;
  width:100px;
  height:29px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:2542px;
  top:2652px;
  width:100px;
  height:29px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:2542px;
  top:3026px;
  width:100px;
  height:29px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:2542px;
  top:2812px;
  width:100px;
  height:29px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:2542px;
  top:2911px;
  width:100px;
  height:29px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:2508px;
  top:2690px;
  width:0px;
  height:0px;
}
#u171_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u171_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-27px;
  width:8px;
  height:31px;
}
#u171_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-27px;
  width:16px;
  height:8px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:2508px;
  top:2690px;
  width:0px;
  height:0px;
}
#u172_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u172_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-4px;
  width:8px;
  height:33px;
}
#u172_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:21px;
  width:16px;
  height:8px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:2508px;
  top:2798px;
  width:0px;
  height:0px;
}
#u173_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u173_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-27px;
  width:8px;
  height:31px;
}
#u173_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-27px;
  width:16px;
  height:8px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:2508px;
  top:2798px;
  width:0px;
  height:0px;
}
#u174_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u174_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-4px;
  width:8px;
  height:37px;
}
#u174_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:25px;
  width:16px;
  height:8px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:2508px;
  top:2907px;
  width:0px;
  height:0px;
}
#u175_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u175_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-26px;
  width:8px;
  height:30px;
}
#u175_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-26px;
  width:16px;
  height:8px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:2508px;
  top:2907px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u176_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-4px;
  width:8px;
  height:27px;
}
#u176_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:15px;
  width:16px;
  height:8px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:2508px;
  top:3015px;
  width:0px;
  height:0px;
}
#u177_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u177_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-26px;
  width:8px;
  height:30px;
}
#u177_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-26px;
  width:16px;
  height:8px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:2508px;
  top:3015px;
  width:0px;
  height:0px;
}
#u178_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u178_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-4px;
  width:8px;
  height:34px;
}
#u178_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:22px;
  width:16px;
  height:8px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:2289px;
  top:2463px;
  width:100px;
  height:60px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:2339px;
  top:2523px;
  width:0px;
  height:0px;
}
#u180_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u180_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:55px;
  width:73px;
  height:8px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:2339px;
  top:2523px;
  width:0px;
  height:0px;
}
#u181_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:171px;
}
#u181_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:163px;
  width:73px;
  height:8px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:2339px;
  top:2523px;
  width:0px;
  height:0px;
}
#u182_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:279px;
}
#u182_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:271px;
  width:73px;
  height:8px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:164px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:2339px;
  top:2523px;
  width:0px;
  height:0px;
}
#u183_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:388px;
}
#u183_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:380px;
  width:73px;
  height:8px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:218px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:2339px;
  top:2523px;
  width:0px;
  height:0px;
}
#u184_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:496px;
}
#u184_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:488px;
  width:73px;
  height:8px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:272px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:2405px;
  width:0px;
  height:0px;
}
#u185_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u185_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:2339px;
  top:2408px;
  width:0px;
  height:0px;
}
#u186_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u186_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:2224px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:982px;
  width:0px;
  height:0px;
}
#u188_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u188_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:62px;
  width:81px;
  height:8px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:982px;
  width:0px;
  height:0px;
}
#u189_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:169px;
}
#u189_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:161px;
  width:81px;
  height:8px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:113px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:982px;
  width:0px;
  height:0px;
}
#u190_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:267px;
}
#u190_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:259px;
  width:81px;
  height:8px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:162px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:982px;
  width:0px;
  height:0px;
}
#u191_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:366px;
}
#u191_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:358px;
  width:81px;
  height:8px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:212px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u192_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u192_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:48px;
  width:81px;
  height:8px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u193_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:164px;
}
#u193_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:156px;
  width:81px;
  height:8px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u194_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:272px;
}
#u194_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:264px;
  width:81px;
  height:8px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:164px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u195_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:381px;
}
#u195_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:373px;
  width:81px;
  height:8px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:219px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u196_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:489px;
}
#u196_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:481px;
  width:81px;
  height:8px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:273px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
